<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minehub</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <style>
    /* Add your custom styles here */
    body {
      padding-top: 90px;
      text-align: center;
    }
    h2 {
      font-size: 1.7rem;
      background-color: #007bff; /* Blue background */
      color: #fff; /* White text */
      padding: 10px;
      margin-bottom: 30px;
      border-radius: 10px; /* Rounded corners */
    }
    img.logo {
     
      max-width: 100px;
      height: auto;
      border-radius: 50%;
    }
    .telegram-icon, p > a {
      font-size: 2rem;
      margin-right: 5px;
    }
   
  </style>
</head>
<body>
    
  <div class="container">
   
    <p>
        <a href="https://t.me/minehuboffical">
          <i class="fab fa-telegram telegram-icon"></i> Stay Tuned
        </a>
      </p>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img src="/images/dev.jpg" alt="Development Image" class="img-fluid">
      </div>
     
    </div>
    <h2>MineHub Cloud Mining In Development </h2>
    <img src="/images/logo.png" alt="MineHub Logo" class="logo">
    <h3>Coming Soon</h3>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
